@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f4f4;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --primary: #a50034;
    --primary-foreground: #f4f4f4;

    --secondary: #6b6b6b;
    --secondary-foreground: #f4f4f4;

    --hover: #f4f4f4;
    --hover-foreground: #6b6b6b;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --blue: #0095f6;
    --green: #62a60a;
    --bright-green: #c3d500;
    --yellow: #f38a00;
    --light-gray: #f4f4f4;
  }

  .bg-primary-gradient {
    background: linear-gradient(180deg, #a50034, #ff608c);
  }
  .dark {
    --background: #070815;
    --foreground: #ffffff;

    --card: #000000;
    --card-foreground: #ffffff;

    --primary: #a50034;
    --primary-foreground: #f4f4f4;

    --secondary: #f4f4f4;
    --secondary-foreground: #6b6b6b;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

article button {
  position: absolute;
  bottom: -0.5em;
  right: -0.5em;
  border: 0px;
  border-radius: 10px;
  padding: 0.3em;
  z-index: 2;
  min-width: 2em;
  min-height: 1em;
}

article button {
  display: none;
  cursor: pointer;
}

article:hover button,
article button:has(span) {
  display: block;
}

article button span {
  padding-left: 0.2em;
}
.scale-up {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.4);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.w20-minus-05 {
  width: calc(20% - 0.4rem);
}

.glass-container {
  @apply relative;
}

.glass-container::before {
  /* @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md; */
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/80 bg-slate-200/80 backdrop-blur-md dark:border-slate-100/20 dark:bg-slate-200/10;
  content: "";
}

.signal-line {
  --rotation: 90deg;
  @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
  background-color: hsla(0, 0%, 100%, 0.1);
  background-image: linear-gradient(
    var(--rotation),
    rgba(255, 255, 255, 0) 50%,
    #bfdbfe 50%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 400% 400%;
}

@media (max-width: 767px) {
  .signal-line {
    --rotation: 0deg;
  }
}
